.sect-1{
    position: relative;
    width: 100%;
    height: 1190px;
    box-sizing: border-box;
}
.slide img{
    width: 1920px;
}
.container{
    position: relative;
    width: 100%;
    height: auto;
}
.slider{
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 560px;
}
.box-images{
    display: flex;
    position: absolute;
    animation: carousel 15s alternate infinite;
}
@keyframes carousel{
    0%{
        left: 0;
    }
    20%{
        left: 0%;
    }
    24%{
        left: -1920px;
    }
    42%{
        left: -1920px;
    }
    46%{
        left: calc(-1920*2px);
    }
    62%{
        left: calc(-1920*2px);
    }
    66%{
        left: calc(-1920*3px);
    }
    82%{
        left: calc(-1920*3px);
    }
    86%{
        left: calc(-1920*4px);
    }
    100%{
        left: calc(-1920*4px);
    }
}
.container-1{
    position: absolute;
    z-index: 1;
    top: 340px;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, transparent, #eaeded, 30%);
}
.container-1 div:first-child{
    font-size: 24px;
    padding: 12px 0;
}
.product{
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    margin: 20px 0;
    justify-content: space-around ;
}

.product .box{
    width: 430px;
    height: 450px;
    background-color: white;
    display: block;
}
.box h3{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 30px;
    margin-bottom: 10px;
    color: rgb(43,42,42);
}

.box-1{
    margin-left: 20px;
    display: block;
    padding-top: 30px;
    justify-content: space-between;
    overflow: hidden;
    background-color: white;
}
.box div img{
    width: 160px;
    height: 150px;
    cursor: pointer;
    margin-right: 45px;
}
.box-1 div{
    display: inline-block;
}
.box-1 div span{
    display: block;
    font-size: 13px;
    margin: 20px;
}
.box-1 p{
    color: #007185;
    cursor: pointer;
}
.box .box-2 img{
    margin: 0 35px;
    width: 355px;
    height: 340px;
    cursor: pointer;
}
.sect-2{
    width: 100%;
    height: 100%;
    padding: 25px;
    padding-top: 0px;
    margin-top: 10%;
    padding-bottom: 25px;
}
.slide-2{
    width: 100%;
    height: 100%;
    padding: 20px 20px 10px 20px;
    overflow: hidden;
    background-color: white;
    position: relative;
}
.slide-2 h3{
    font-size: 20px;
    padding-bottom: 5px;
}
.product-slide{
    display: flex;
    margin-top: 5px;
    overflow-x: scroll;
    scroll-behavior: smooth;
 }
.product-slide::-webkit-scrollbar{
    background-color: transparent;
    height: 7px;
    cursor: pointer;
}
.product-slide::-webkit-scrollbar-thumb{
    border-radius: 10px;
    cursor: pointer;
}
.product-slide li{
    list-style: none;
    margin-right: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}
.L-btn, .btn-R{
    background-color: rgb(255, 255, 255,1);
    height: 90px;
    width: 50px;
    text-align: center;
    top: 35%;
    position: absolute;
    border: 3px solid transparent;
    cursor: pointer;
}
.L-btn{
    border-radius: 0px 5px 5px 0px;
    left: 20px;
}
.btn-R{
    border-radius: 5px 0px 0px 5px;
    right: 20px;
}
.L-btn:hover{
    border: 3px solid rgb(2, 150, 150);
}
.btn-R:hover{
    border: 3px solid rgb(2, 150, 150);
}
.L-btn i, .btn-R i{
    color: rgb(54, 54, 54);
    position: absolute;
    font-size: 30px;
    top: 35%;
    left: 13%;
    right: 13%;
}



@media (max-width: 768px){
    .sect-1{
    position: relative;
    width: 100%;
    height: 770px;
    box-sizing: border-box;
}
.slide img{
    width: 400px;
    height: 300px;
}
.container{
    position: relative;
    width: 100%;
    height: auto;
}
.slider{
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 560px;
}
.box-images{
    display: flex;
    position: absolute;
    animation: carousel 15s alternate infinite;
}
@keyframes carousel{
    0%{
        left: 0;
    }
    20%{
        left: 0%;
    }
    24%{
        left: -768px;
    }
    42%{
        left: -768px;
    }
    46%{
        left: calc(-768px*2px);
    }
    62%{
        left: calc(-768px*2px);
    }
    66%{
        left: calc(-768px*3px);
    }
    82%{
        left: calc(-768px*3px);
    }
    86%{
        left: calc(-768px*4px);
    }
    100%{
        left: calc(-768px*4px);
    }
}
.container-1{
    position: absolute;
    z-index: 1;
    top: 90px;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, transparent, #eaeded, 30%);
}
.container-1 div:first-child{
    font-size: 24px;
    padding: 1px 0;
}
.product{
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    margin: 20px 0;
    justify-content: space-around ;
}

.product .box{
    width: 130px;
    height: 290px;
    background-color: white;
    margin: 5px;
}
.box h3{
    margin-top: 13px;
    margin-left: 10px;
    font-size: 15px;
    margin-bottom: 13px;
    color: rgb(43,42,42);
}

.box-1{
    margin-left: 20px;
    display: block;
    padding-top: 30px;
    justify-content: space-between;
    overflow: hidden;
    background-color: white;
}
.box div img{
    width: 50px;
    height: 40px;
    cursor: pointer;
    margin-right: 15px;

}
.box-1 div{
    display: inline-block;
}
.box-1 div span{
    display: block;
    font-size: 13px;
    margin: 20px;
}
.box-1 p{
    color: #007185;
    cursor: pointer;
}
.box .box-2 img{
    margin: 0 11px;
    width: 62px;
    height: 205px;
    cursor: pointer;
}
.sect-2{
    width: 100%;
    height: 100%;
    padding: 25px;
    padding-top: 0px;
    margin-top: 10%;
    padding-bottom: 25px;
}
.slide-2{
    width: 100%;
    height: 100%;
    padding: 20px 20px 10px 20px;
    overflow: hidden;
    background-color: white;
    position: relative;
}

.slide-2 h3{
    font-size: 15px;
    padding-bottom: 5px;
}
.product-slide{
    display: flex;
    margin-top: 5px;
    overflow-x: scroll;
    scroll-behavior: smooth;
 }
.product-slide::-webkit-scrollbar{
    background-color: transparent;
    height: 7px;
    cursor: pointer;
}
.product-slide::-webkit-scrollbar-thumb{
    border-radius: 10px;
    cursor: pointer;
}
.product-slide li{
    list-style: none;
    margin-right: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}
.product-slide img{
    width: 150px;
    height: 100px;
}
.L-btn, .btn-R{
    background-color: rgb(255, 255, 255,1);
    height: 60px;
    width: 40px;
    text-align: center;
    top: 40%;
    position: absolute;
    border: 3px solid transparent;
    cursor: pointer;
}
.L-btn{
    border-radius: 0px 5px 5px 0px;
    left: 20px;
}
.btn-R{
    border-radius: 5px 0px 0px 5px;
    right: 20px;
}
.L-btn:hover{
    border: 3px solid rgb(2, 150, 150);
}
.btn-R:hover{
    border: 3px solid rgb(2, 150, 150);
}
.L-btn i, .btn-R i{
    color: rgb(54, 54, 54);
    position: absolute;
    font-size: 30px;
    top: 35%;
    left: 13%;
    right: 13%;
}
}