button {
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-radius: 9px;
    background: #65f3e7;
    border: none;
    font-family: inherit;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    color: black;
   }

   button:hover {
    box-shadow: 57px 15px 56px -54px #d900a3;
   }

   button:active {
    transform: scale(0.97);
    box-shadow: 57px 15px 56px -10px #d90086;
   }