.footer{
    width: 100%;
    height: 490px;
    transition: all 0.2s;
}
.BackUp{
    text-align: center;
    height: 50px;
    background-color: #37475a;
    padding: 16px;
    cursor: pointer;
}
.BackUp span{
    color: white;
    font-weight: bold;
}
.BackUp:hover{
    background-color: #4d627c;
}
.detail{
    background-color: #232f3e;
    height: 350px;
}
.table{
    margin: 0px 150px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}
.table div{
    width: 230px;
}
.Head{
    font-size: 16px;
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
 }
 .table li{
    color: rgb(233, 221, 221);
    padding-top: 10px;
    font-weight: lighter;
    font-size: 14px;
    list-style: none;
 }
 .last{
    color: white;
    width: 100%;
    background-color: rgb(172, 172, 172);
 }
 .copy{
    background-color: #232f3e;
    height: 90px;
    padding: 40px;
    text-align: center;
 }
 .copy span{
    color: white;
    font-size: 14px;
 }




@media (max-width: 768px){
 .footer{
    width: 390px;
    height: 390px;
    transition: all 0.2s;
}
.BackUp{
    text-align: center;
    height: 50px;
    background-color: #37475a;
    padding: 16px;
    cursor: pointer;
}
.BackUp span{
    color: white;
    font-weight: bold;
}
.BackUp:hover{
    background-color: #4d627c;
}
.detail{
    background-color: #232f3e;
    height: 400px;
}
.table{
    margin: 0px 150px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    max-width: 375px;

}
.table div{
    width: 80px;
    margin: 3px;
}
.Head{
    font-size: 13px;
    color: white;
    font-weight: bold;
 }
 .Head li{
    font-size: 8px;

 }
 .table li{
    color: rgb(233, 221, 221);
    padding-top: 10px;
    font-weight: lighter;
    font-size: 14px;
    list-style: none;
 }
 .last{
    color: white;
    width: 100%;
    background-color: rgb(172, 172, 172);
 }
 .copy{
    background-color: #232f3e;
    height: 90px;
    padding: 40px;
    text-align: center;
 }
 .copy span{
    color: white;
    font-size: 14px;
 }
}